#home-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

#editor-container {
  position: relative;
  background: var(--darkBlue);
  height: 100vh;
  flex: 1;
}

.editor-pane {
  height: 100%;
}
.CodeMirror {
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.ReactCodeMirror {
  height: 100%;
}

.CodeMirror.cm-s-material {
  min-height: 100vh;
}

.editor-override {
  font-size: 1.2em;
  font-weight: 300;
}

/* .editor-override *{
  font-weight:lighter;
} */
